<div id="<%= dom_id found_item %>">
  <p>
    <strong>Name:</strong>
    <%= found_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= found_item.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= found_item.location %>
  </p>

  <p>
    <strong>Date found:</strong>
    <%= found_item.date_found %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= found_item.expiration_date %>
  </p>

</div>
