<p style="color: green"><%= notice %></p>

<%= render @found_item %>

<div>
  <%= link_to "Edit this found item", edit_found_item_path(@found_item) %> |
  <%= link_to "Back to found items", found_items_path %>

  <%= button_to "Destroy this found item", @found_item, method: :delete %>
</div>
