<div id="<%= dom_id lost_item %>">
  <p>
    <strong>Private entry:</strong>
    <%= lost_item.private_entry %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= lost_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lost_item.description %>
  </p>

  <p>
    <strong>Date lost:</strong>
    <%= lost_item.date_lost %>
  </p>

  <p>
    <strong>Location lost:</strong>
    <%= lost_item.location_lost %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= lost_item.expiration_date %>
  </p>

</div>
