<nav>
    <%= link_to "Home", home_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Items", found_items_path %>
    <%= link_to "Requests", lost_items_path %>
    <%= link_to "My Claims", claims_path %>
    <%= link_to "Account", users_path %>
</nav>
    